

@model RDMS.Models.Dtos.CreateCommentRequestModel


@* <section >
  <h5 class="head-font">Create Creation</h5>
  <form  action="Create" method="post" enctype="multipart/form-data">
    <div>
      <input  required type="text" name="CommentText" placeholder="Comment ">
    </div>
    <div>
        <input class="submit" type="submit" value="CommentText">
    </div>
  </form>
</section> *@
<style> 
body {
    background-color: #eee
}

.card {
    background-color: #fff;
    border: none
}

.form-color {
    background-color: #fafafa
}

.form-control {
    height: 48px;
    border-radius: 25px
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #35b69f;
    outline: 0;
    box-shadow: none;
    text-indent: 10px
}

.c-badge {
    background-color: #35b69f;
    color: white;
    height: 20px;
    font-size: 11px;
    width: 92px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px
}

.comment-text {
    font-size: 13px
}

.wish {
    color: #35b69f
}

.user-feed {
    font-size: 14px;
    margin-top: 12px
}
 </style>
    
<div class="container mt-5 mb-5">
    <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-7">
            <div class="card">
                <div class="p-3">
                    <h6>Comments</h6>
                </div>
                <div class="mt-3 d-flex flex-row align-items-center p-3 form-color"> <img src="https://i.imgur.com/zQZSWrt.jpg" width="50" class="rounded-circle mr-2">
                 <form action="Create" method="post" enctype="multipart/form-data" type="text" class="form-control" placeholder="Enter your comment..."> 
                 <div>
                  <input  required type="text" name="CommentText" placeholder="Comment ">
                </div>
                <div>
                    <input class="submit" type="submit" value="Review">
                </div>
                 </form>
                 </div>
                 <div>
                    <a asp-action="GetAll" asp-controller="Comment" class="btn btn-warning">All cooment</a>

                 </div>

                @* <div class="mt-2">
                    <div class="d-flex flex-row p-3"> <img src="https://i.imgur.com/zQZSWrt.jpg" width="40" height="40" class="rounded-circle mr-3">
                        <div class="w-100">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex flex-row align-items-center"> <span class="mr-2">Brian selter</span> <small class="c-badge">Top Comment</small> </div> <small>12h ago</small>
                            </div>
                            <p class="text-justify comment-text mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                            <div class="d-flex flex-row user-feed"> <span class="wish"><i class="fa fa-heartbeat mr-2"></i>24</span> <span class="ml-3"><i class="fa fa-comments-o mr-2"></i>Reply</span> </div>
                        </div>
                    </div>
                   
                    <div class="d-flex flex-row p-3"> <img src="https://i.imgur.com/agRGhBc.jpg" width="40" height="40" class="rounded-circle mr-3">
                        <div class="w-100">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex flex-row align-items-center"> <span class="mr-2">Maria Santola</span> <small class="c-badge">Top Comment</small> </div> <small>12h ago</small>
                            </div>
                            <p class="text-justify comment-text mb-0"> Id eu nisl nunc mi ipsum faucibus. Massa massa ultricies mi quis hendrerit dolor. Arcu bibendum at varius vel pharetra vel turpis nunc eget. Habitasse platea dictumst quisque sagittis purus sit amet volutpat. Urna condimentum mattis pellentesque id.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                            <div class="d-flex flex-row user-feed"> <span class="wish"><i class="fa fa-heartbeat mr-2"></i>54</span> <span class="ml-3"><i class="fa fa-comments-o mr-2"></i>Reply</span> </div>
                        </div>
                    </div>
                </div> *@
            </div>
        </div>
    </div>
</div>

