

<form asp-action="" asp-controller="" >
    <div>
        <input type="text" name=""  placeholder="" >
    </div>
    <div>
        <input type="text" name="" >
    </div>
    <div>
        <input type="text" name="" >
    </div>
</form>