
@{
    ViewData["Title"] = "Staff List";
    var staff = "~/Views/Staff/GetAll.cshtml";
}


<section class="content">



</section>
      @await Html.PartialAsync(staff)
                     
  


  </div>
</div>


 